# [Pandas Tutorial](https://pandas.pydata.org/docs/user_guide/10min.html)

In [1]:
import numpy as np
import pandas as pd

## Object Creation

### Creating a Series

In [7]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### Creating a Data Frame

#### Passing NumPy array

In [9]:
dates = pd.date_range("20210101", periods=10)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df = pd.DataFrame(np.random.randn(10,10), index=dates, columns=list(["col " + str(x) for x in range(1,11)]))
df

,col 1,col 2,col 3,col 4,col 5,col 6,col 7,col 8,col 9,col 10
2021-01-01,-0.921465,2.189325,-0.427866,-0.277028,0.578014,0.775507,0.174750,0.522616,1.247798,-0.560153
2021-01-02,-1.426243,0.537805,-1.112222,1.888931,-1.841857,0.252659,-0.186896,-0.279453,1.703035,0.834247
2021-01-03,1.207273,0.373860,0.135154,2.141797,0.306684,0.606562,0.270100,1.402113,1.293982,-0.606178
2021-01-04,0.538361,-1.959966,-0.442977,0.096858,-1.686326,-0.681386,-0.009840,-1.318956,0.103475,1.761541
2021-01-05,-0.542891,0.629474,0.733663,1.241853,1.704814,0.189430,-1.901363,1.792103,0.718382,0.548678
2021-01-06,0.476849,-0.419564,0.297077,-0.245533,0.345095,0.868643,-0.819513,-1.896197,-0.956348,1.715150
2021-01-07,0.996729,0.521151,0.977839,-0.384255,1.060817,-1.391372,-0.524197,0.440262,0.242328,-0.206639
2021-01-08,0.008894,0.453773,1.896733,1.868137,-0.026584,-0.338320,0.888348,1.741663,1.444501,0.476134
2021-01-09,-1.190619,1.731886,1.627181,0.885855,-1.780212,-0.065028,-0.812985,-0.007134,0.509102,0.311093
2021-01-10,-0.517305,0.184475,1.661764,-0.540783,1.623335,-2.200506,0.557151,0.386420,-0.092668,1.620890

#### Passing dict of objects that can be converted to series-like

In [39]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20210101"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", 'train', "left", "station"]),
        "F": "foo"
    }
)
df2

     A          B    C  D        E    F
0  1.0 2021-01-01  1.0  3     test  foo
1  1.0 2021-01-01  1.0  3    train  foo
2  1.0 2021-01-01  1.0  3     left  foo
3  1.0 2021-01-01  1.0  3  station  foo

In [38]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object